body {
    font-size: 16px;

    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

header img {
    width: 10%;
    height: 10%;
    /* alinea la foto hasta la izquierda */
    float: left;
    margin: 0 10px 0 0;

}

section {
    width: 60%;
    background: rgb(112, 112, 112);
    margin: 0 auto;
}

article {
    background: #f1f1f1;
    border-radius: 5px;
    margin: 5px auto;

    width: 85%;
    height: 200px;
    text-align: center;
}